/**
 * Site header
 */
.site-header {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  min-height: 30px;
  position: relative;
}

.site-title {
  font-size: 24px;
  font-weight: 300;
  color: #111;
  line-height: 56px;
  margin-bottom: 0;
  vertical-align: baseline;
  float: left;
}

.site-title, .site-title:visited {
  color: #111;
}

.site-nav {
  float: right;
  line-height: 75px;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: #ffffff;
  line-height: 1.5; 
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px; 
}

@media screen and (max-width: 600px) {
	.site-nav {
		position: absolute;
		top: 9px;
		right: 15px;
		background-color: #fdfdfd;
		border: 1px solid #e8e8e8;
		border-radius: 5px;
		text-align: right;
	}

	.site-nav .menu-icon {
		display: block;
		float: right;
		width: 36px;
		height: 26px;
		line-height: 0;
		padding-top: 10px;
		text-align: center;
	}

	.site-nav .menu-icon > svg {
		width: 18px;
		height: 15px; 
	}

	.site-nav .menu-icon > svg path {
		fill: #424242; 
	}

	.site-nav .trigger {
		clear: both;
		display: none;
	}

	.site-nav:hover .trigger {
		display: block;
		padding-bottom: 5px;
}

	.site-nav .page-link {
		display: block;
		padding: 5px 10px;
		color: #111;
		margin-left: 20px;
	}

	.site-nav .page-link:not(:last-child) {
		margin-right: 0;
	}

  .logo-bottom-text {
    margin-top: 30px;
  }
}

.top-bar {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.top-bar .container {
  padding: 0 5px;
}

.hero-full {
  height: 500px;
  background-position: center center;
  background-size: cover;
}

.logo-bottom-text img {
	max-height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo-bottom-text {
	text-align: center;
	font-size: 30px;
	color: #6fc9c6;
}
  
.hero-thin {
  height: 75px;
  background-position: center center;
	background-size: cover;
}

.get-started {
  display: block;
	width: 100px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  padding: 11.25px 20px 10.5px 20px;
	color: #fff;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 2px;
  font-size: .875rem;
  font-weight: 400;
	letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

.get-started:hover {
  background: #fff;
  color: #6fc9c6;
  font-weight: 500;

	&:visited {
	  background: #fff;
	  color: #6fc9c6;
	  font-weight: 500;
	}
}

.get-started:visited {
  background: #fff;
  color: #fff;
  font-weight: 500;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
	margin-left: 0;
  list-style: none;
	> li {
		margin-bottom: $spacing-unit / 2;
		padding-bottom: $spacing-unit / 2;

		p {
			margin-top: 15px;
		}
	}
	> li:not(:last-child) {
		border-bottom: 1px solid $grey-color-light;
	}
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
  line-height: 1;
}



/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
		font-size: 36px;
  }
}

.post-content {
	margin-bottom: $spacing-unit;

	p {
		margin-bottom: 25px;
	}

	h2 {
		font-size: 22px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 20px;
		}
	}

	h4 {
		font-size: 16px;

		@include media-query($on-laptop) {
			font-size: 16px;
		}
	}

	.image {
		margin-top: 60px;
		margin-bottom: 60px;

		caption {
		    margin-top: 25px;
		}
	}
}